<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="SeguimientoTemasEntities" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P005298\SQLEXPRESS;initial catalog=SeguimientoTemas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="frmPresentacion.Properties.Settings.SeguimientoTemasConnectionString"
            connectionString="Data Source=P005298\SQLEXPRESS;Initial Catalog=SeguimientoTemas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>